<div class="container">
  <%= render 'tabs' %>
  </div>
    <%# ↓each文は=つけなくていい。＝つけると謎のテキストがビューに表示されちゃう %>
  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
    <%# 部分テンプレートをしてスッキリさせる！ renderを使って部分テンプレートを読み込もう。%>
    <%# 部分テンプレートはアンダースコアから始まるファイル名にする。 %>
    <%# artticle: article これで引数としてarticleを渡すことができる。前のarticleは部分テンプレの中のarticleを指し、後ろのarticleはeach文のarticleを指す。 %>
  <% end %>
  <%= link_to new_article_path do %>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
  <% end %>
</div>